.authCard {
    width: 480px;
    margin: 0 auto;
    text-align: center;
    margin-top: 200px;
    .MuiCardActions-root {
        display: block;
    }
    .MuiFormControl-root {
        display: flex;
        margin: 0 0 10px 0;
    }
}
